%div#show_url.panel
  %h1
    So, your URL is...
    %a{href: "/"} Create another?
  %input{type: "text", name: "url", value: url, autofocus: true}
  %p#attribution
    Background image by
    %a{href: "https://flic.kr/p/9D1XZA"} Chris Ford
    %span>, licensed under&nbsp;
    %a{href: "https://creativecommons.org/licenses/by-nc/2.0/"} CC BY-NC 2.0
